<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CentralParkSanitySuite">

	<listeners>
		<listener class-name="com.innroad.inncenter.listeners.EnvReaderListener" />
		<listener class-name="com.innroad.inncenter.utils.RetryListenerClass" />
		<listener class-name="com.innroad.inncenter.listeners.TestListener" />
	</listeners>
 
	<parameter name="env" value="https://app.qainnroad.com/" />
	<suite-files>
			   <!--  <suite-file path="testng_create_room_class.xml" />  
				<suite-file path="testng_create_season.xml" />
				<suite-file path="testng_reports.xml"/>
				<suite-file path="testng_groups.xml"/>
				<suite-file path="testng_gs.xml"/>  
				<suite-file path="testng.CP_Reservation.xml"/>
				<suite-file path="testng_rates.xml" />
				<suite-file path="testng_ReportsV2.xml"/>  
				<suite-file path="vrbo_test.xml"/>	
				<suite-file path="AirBnb.xml"/>		
				<suite-file path="tapechart.xml"/>	
				<suite-file path="testng_Admin.xml"/>	
				<suite-file path="guesthistory.xml"/>	
				<suite-file path="testng_CP.xml"/>		  
				<suite-file path="testng_farhan.xml"/>	
				<suite-file path="testng_haider.xml"/>
				<suite-file path="naresh.xml"/> 
			     --> 

<suite-file path="testng_ReportsV2.xml"/>  
		 </suite-files>
</suite> <!-- Suite -->
